# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Crodo\CrodoDemoConnect\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
